<template>
  <div id="chart" v-if="!$store.state.loading">
    <button @click="resetFilter()" class="btn">Reset Filter</button>
    <div v-if="pieChart">
      <button @click="switchDisplay" class="btn">Switch to Histograms</button>
      <div class="charts">
        <PieChart index="1" :labels="pets.labels" :data="pets.occurrence" label="Favorite Pets"/>
        <PieChart index="2" :labels="fruits.labels" :data="fruits.occurrence" label="Favorite Fruits"/>
        <PieChart index="3" :labels="colors.labels" :data="colors.occurrence" label="Favorite Colors"/>
      </div>
    </div>
    <div v-if="!pieChart">
      <button @click="switchDisplay" class="btn">Switch to Chart Pies</button>
      <div class="charts">
        <Histogram index="1" :labels="pets.labels" :data="pets.occurrence" label="Favorite Pets"/>
        <Histogram index="2" :labels="fruits.labels" :data="fruits.occurrence" label="Favorite Fruits"/>
        <Histogram index="3" :labels="colors.labels" :data="colors.occurrence" label="Favorite Colors"/>
      </div>
    </div>
  </div>
</template>

<script>
// Import router even if it is already in main.js because push() isn't recognized
import router from "@/router";
import PieChart from "@/components/PieChart.vue";
import Histogram from "@/components/Histogram.vue";

export default {
  name: "Chart",
  components: {
    PieChart,
    Histogram,
  },
  data() {
    return {
      pieChart: true
    }
  },
  methods: {
    switchDisplay() {
      this.pieChart = !this.pieChart;
    },
    resetFilter() {
      this.$store.commit("SET_SELECT_FAVORITE", {
        label: '',
        data: ''
      });
      router.push('/list');
    }
  },
  async created() {
    /* 
      Fetch API only once because update aren't persistent
      So that way, until we refresh pages, updates should be saved in the current list
      This code is in every page because a user can access directly to any pages thanks to url
    */
    if (this.$store.state.list.length <= 0) {
      this.$store.commit("SET_LOADING", true);
      try {
        await this.$store.dispatch("GET_DATA");
      } catch (err) {
        console.log("Failed to load data...\n" + err);
      } finally {
        this.$store.commit("SET_LOADING", false);
      }
    }
  },
  computed: {
    pets() {
      return this.$store.getters.PETS;
    },
    fruits() {
      return this.$store.getters.FRUITS;
    },
    colors() {
      return this.$store.getters.COLORS;
    }
  }
};
</script>

<style lang="scss">
#chart {

  .charts {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
</style>