<template>
  <div id="home">
    <div class="content">
      <h1>People in a Nutshell</h1>
      <p>
        Welcome to <b>People in a Nutshell</b>! We're here to improve our skills
        in Web Development and especially in VueJS in this case.
      </p>
      <p>
        In this project, you'll be able to get through multiple data in a list
        of people. This list contains informations about people : their names,
        location but also their preferences. You can check those in a table in
        which you can filter and sort the list via a Search Bar and some Filter
        & Sort options. There's also some data displayed with charts, for a
        better overview of the preferences!
      </p>
      <p>
        If you're interested by this list of people, you can download it in a
        JSON format by clicking on the button below. You can also get data from
        only one person from this list by checking its details in the list tab
        with the button download nested in it. You can make changes before
        downloading anything so make sure to do so if needed!
      </p>
      <button class="btn" type="button" @click="saveFile()">Download</button>
    </div>
    <div class="footer">
      <p>This project was created as part of a practical exercise.</p>
      <a href="https://gitlab.com/TonyLch/data-visualizer" target="_blank">
        <img src="https://about.gitlab.com/images/press/logo/png/gitlab-icon-rgb.png" alt="gitlab"/>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  methods: {
    saveFile() {
      let dataStr = JSON.stringify({ ...this.$store.state.list });
      let dataUri =
        "data:application/json;charset=utf-8," + encodeURIComponent(dataStr);

      let exportFileName = "list.json";

      let linkElement = document.createElement("a");
      linkElement.setAttribute("href", dataUri);
      linkElement.setAttribute("download", exportFileName);
      linkElement.click();
    },
  },
  async created() {
    /* 
      Fetch API only once because update aren't persistent
      So that way, until we refresh pages, updates should be saved in the current list
      This code is in every page because a user can access directly to any pages thanks to url
    */
    if (this.$store.state.list.length <= 0) {
      this.$store.commit("SET_LOADING", true);
      try {
        await this.$store.dispatch("GET_DATA");
      } catch (err) {
        console.log("Failed to load data...\n" + err);
      } finally {
        this.$store.commit("SET_LOADING", false);
      }
    }
  },
};
</script>

<style lang="scss" scoped>
#home {
  font-size: 18px;

  .content {
    width: 80%;
    margin: auto;
  }

  .footer {
    width: fit-content;
    margin: 1em auto 0;
    padding: 2em;
    border: 1px solid;
    text-align: start;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }

      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}
</style>