<template>
  <div id="list" v-if="!$store.state.loading">
    <Table />
  </div>
</template>

<script>
import Table from "@/components/Table";

export default {
  name: "List",
  components: {
    Table,
  },
  async created() {
    /* 
      Fetch API only once because update aren't persistent
      So that way, until we refresh pages, updates should be saved in the current list
      This code is in every page because a user can access directly to any pages thanks to url
    */
    if (this.$store.state.list.length <= 0) {
      this.$store.commit('SET_LOADING', true);
      try {
        await this.$store.dispatch("GET_DATA");
      } catch (err) {
        console.log('Failed to load data...\n' + err);
      } finally {
        this.$store.commit('SET_LOADING', false);
      }
    }
  }
};
</script>

<style>
</style>