<template>
  <div id="header">
    <div class="nav">
      <router-link to="/">
        <img src="@/assets/logo.png" alt="logo" class="logo btn" />
      </router-link>
      <input type="text" v-model="search" placeholder="Search..." />
      <ul>
        <li><router-link to="/list" class="btn">List</router-link></li>
        <li><router-link to="/chart" class="btn">Charts</router-link></li>
      </ul>
    </div>
  </div>
</template>

<script>

export default {
  name: "Header",
  computed: {
    search: {
      get () {
        return this.$store.state.search;
      },
      set (value) {
        this.$store.commit('SET_SEARCH', value);
      }
    },
    
  }
};
</script>

<style scoped lang="scss">
#header {
  padding: 1em 1em 0;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input[type=text] {
      background-image: url('https://www.flaticon.com/svg/vstatic/svg/93/93642.svg?token=exp=1616338026~hmac=fcdffdcb4f7286d513b861762287a4f0');
      background-size: 12px;
      background-position: 10px 8px;
      background-repeat: no-repeat;
      width: 50em;
      padding: 0.5em 0.5em 0.5em 30px ;
      outline: none;
      border: 1px solid black;
    }

    ul {
      padding: 0;
      display: flex;
      align-items: center;

      li {
        list-style-type: none;

        a.router-link-exact-active {
          color: #42b983;
        }
      }
    }

    a {
      text-decoration: none;

      .btn:hover {
        background: none;
      }

      .logo {
        width: 50px;
        height: 50px;
      }
    }
  }

}
</style>