<template>
  <transition name="modal-pop">
    <div class="modal" v-if="$store.state.toggleModal && $store.state.id">
      <div
        class="overlay"
        @click="this.$store.commit('SET_TOGGLEMODAL', false)"
      ></div>
      <div class="modal-card">
        <div class="modal-header">
          <button
            class="btn"
            @click="this.$store.commit('SET_TOGGLEMODAL', false)"
          >
            X
          </button>
          <h2>{{ person.firstname + " " + person.lastname }}</h2>
        </div>
        <div class="modal-content">
          <table>
            <thead>
              <tr>
                <th style="width: 7%">ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th style="width: 30%">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input class="input-details" type="text" v-model="person.id"></td>
                <td><input class="input-details" type="text" v-model="person.firstname"></td>
                <td><input class="input-details" type="text" v-model="person.lastname"></td>
                <td><input class="input-details" type="text" v-model="person.gender"></td>
                <td><input class="input-details" type="text" v-model="person.contact.email"></td>
              </tr>
            </tbody>
          </table>
          <table>
            <thead>
              <tr>
                <th>Country</th>
                <th>City</th>
                <th style="width: 30%">Address</th>
                <th>Phone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input class="input-details" type="text" v-model="person.contact.country"></td>
                <td><input class="input-details" type="text" v-model="person.contact.city"></td>
                <td><input class="input-details" type="text" v-model="person.contact.address"></td>
                <td><input class="input-details" type="text" v-model="person.contact.phone"></td>
              </tr>
            </tbody>
          </table>
          <table>
            <thead>
              <tr>
                <th>Favorite Pet</th>
                <th>Favorite Fruit</th>
                <th>Favorite Color</th>
                <th>Favorite Movie</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input class="input-details" type="text" v-model="person.preferences.favorite_pet"></td>
                <td><input class="input-details" type="text" v-model="person.preferences.favorite_fruit"></td>
                <td><input class="input-details" type="text" v-model="person.preferences.favorite_color"></td>
                <td><input class="input-details" type="text" v-model="person.preferences.favorite_movie"></td>
              </tr>
            </tbody>
          </table>
          <h3>Map : Not yet available...</h3>
          <h3>Longitude / Latitude</h3>
          <input class="input-details" type="text" v-model="person.contact.location.lon">
          <input class="input-details" type="text" v-model="person.contact.location.lat"><br><br>
          <button class="btn" type="button" @click="saveFile()">Download</button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "Modal",
  methods: {
    saveFile() {
      let dataStr = JSON.stringify({...this.person});
      let dataUri =
        "data:application/json;charset=utf-8," + encodeURIComponent(dataStr);

      let exportFileName = this.person.firstname + '_' + this.person.lastname + '.json';

      let linkElement = document.createElement("a");
      linkElement.setAttribute("href", dataUri);
      linkElement.setAttribute("download", exportFileName);
      linkElement.click();
    }
  },
  computed: {
    person() {
      return this.$store.state.list.find(element => element.id === this.$store.state.id);
    }
  },
};
</script>

<style lang="scss">
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .overlay {
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .modal-card {
    z-index: 1;
    width: 80%;
    height: 550px;
    position: fixed;
    background: white;

    .modal-header {
      text-align: center;

      .btn {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }

    .modal-content table {
      width: 90%;
      margin: auto;
      table-layout: fixed;

      .input-details  {
        width: 100%;
        background: none;
        border: none;
        outline: none;
        text-align: center;
      }
    }
  }
}

.modal-pop-enter-active {
  animation: pop 0.3s;
}

.modal-pop-leave-active {
  animation: pop 0.3s reverse;
}

@keyframes pop {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}
</style>