<template>
  <div class="pie-chart">
    <canvas :id="'chart' + index" width="200px" height="200px"></canvas>
  </div>
</template>

<script>
// Import router even if it is already in main.js because push() isn't recognized
import router from "@/router";
import Chart from "chart.js";

export default {
  props: {
    index: null,
    labels: null,
    data: null,
    label: null,
  },
  mounted() {
    new Chart(document.getElementById('chart' + this.index).getContext("2d"), {
      type: "doughnut",
      data: {
        labels: this.labels,
        datasets: [
          {
            label: this.label,
            data: this.data,
            backgroundColor: [
              "rgb(54, 162, 235)",
              "rgb(85, 235, 155)",
              "rgb(255, 159, 64)",
              "rgb(213, 139, 246)",
              "rgb(255, 99, 132)",
              "rgb(255, 205, 86)"
            ],
            borderWidth: 1,
          },
        ],
      },
      options: {
        responsive: true,
        onClick: (event, element) => {
          const item = element[0];
          const index = item._index;
          this.$store.commit("SET_SELECT_FAVORITE", {
            label: item._model.label,
            data: item._chart.config.data.labels[index]
          });
          router.push('/list');
        }
      }
    });
  },
};
</script>

<style scoped lang="scss">
.pie-chart {
  width: 300px;
  height: 300px;
  margin: 1em;
}
</style>