<template>
  <div id="table" v-if="$store.state.list.length > 0">
    <div class="sorts">
      <select v-model="selectGender" class="gender">
        <option v-for="gender in $store.state.sorts.gender" :key="gender.id" :value="gender.text">{{ gender.text }}</option>
      </select>
      <select v-model="selectSort" class="sort">
        <option v-for="sort in $store.state.sorts.sort" :key="sort.id" :value="sort.text">{{ sort.text }}</option>
      </select>
      <select v-model="selectOrder" class="order">
        <option v-for="order in $store.state.sorts.order" :key="order.id" :value="order.text">{{ order.text }}</option>
      </select>
    </div>
    <Modal />
    <div class="tab">
      <table>
        <thead>
          <tr>
            <th style="width: 5%">ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th style="width: 15%">Email</th>
            <th>Country</th>
            <th colspan="4">Favorites</th>
            <th class="empty"></th>
          </tr>
          <tr>
            <th class="empty"></th>
            <th class="empty"></th>
            <th class="empty"></th>
            <th class="empty"></th>
            <th class="empty"></th>
            <th class="empty"></th>
            <th>Pet</th>
            <th>Fruit</th>
            <th>Color</th>
            <th>Movie</th>
            <th class="empty"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="people in pagedList" :key="people.id">
            <td>{{ people.id }}</td>
            <td>{{ people.firstname }}</td>
            <td>{{ people.lastname }}</td>
            <td>{{ people.gender }}</td>
            <td>{{ people.contact.email }}</td>
            <td>{{ people.contact.country }}</td>
            <td>{{ people.preferences.favorite_pet }}</td>
            <td>{{ people.preferences.favorite_fruit }}</td>
            <td>{{ people.preferences.favorite_color }}</td>
            <td>{{ people.preferences.favorite_movie }}</td>
            <td
              class="btn btn-detail no-hover-overflow"
              @click="
                this.$store.commit('SET_TOGGLEMODAL', true);
                this.$store.commit('SET_ID', people.id);
              "
            >
              Details
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-prev" @click="prevPage">&#60;</button>
    <button class="btn btn-next" @click="nextPage">&#62;</button>
  </div>
</template>

<script>
import Modal from "../components/Modal.vue";

export default {
  name: "Table",
  components: {
    Modal,
  },
  data() {
    return {
      currentPage: 1,
      pageSize: 5,
    };
  },
  methods: {
    nextPage() {
      if (
        this.currentPage * this.pageSize <
        this.$store.getters.FILTEREDLIST.length
      )
        this.currentPage++;
    },
    prevPage() {
      if (this.currentPage > 1) this.currentPage--;
    },
  },
  computed: {
    pagedList() {
      // Function that return only 5 ($pageSize) people per page
      return this.$store.getters.FILTEREDLIST.filter((row, index) => {
        let start = (this.currentPage - 1) * this.pageSize;
        let end = this.currentPage * this.pageSize;
        if (index >= start && index < end) return true;
      });
    },
    selectGender: {
      get () {
        return this.$store.state.selected.gender;
      },
      set (value) {
        this.$store.commit('SET_SELECT_GENDER', value);
      }
    },
    selectSort: {
      get () {
        return this.$store.state.selected.sort;
      },
      set (value) {
        this.$store.commit('SET_SELECT_SORT', value);
      }
    },
    selectOrder: {
      get () {
        return this.$store.state.selected.order;
      },
      set (value) {
        this.$store.commit('SET_SELECT_ORDER', value);
      }
    }
  }
};
</script>

<style lang="scss">
#table {

  .sorts {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    .gender, .sort, .order {
      margin: 0.2em;
      padding: 0.2em;
    }
  }

  .tab {
    height: 68vh;

    table {
      width: 90%;
      margin: auto;
      table-layout: fixed;

      tbody {
        tr {
          height: 10vh;

          td {
            text-overflow: ellipsis;
            cursor: default;

            &:hover:not(.no-hover-overflow) {
              background: white;
              position: relative;
              display: inline-block;
              overflow: visible;
            }
          }

          .btn-detail {
            padding-left: 0;
            padding-right: 0;
            text-align: center;
            overflow: visible;
            white-space: nowrap;
            cursor: pointer;
            background: none;

            &:hover {
              background: rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
  }

  th:not(.empty) {
    padding: 0.8em;
    background: #42b983;
  }

  td {
    padding: 0.8em;
    overflow: hidden;
    white-space: nowrap;
  }
}
</style>