<template>
  <Header />
  <router-view />
</template>

<script>
import Header from "@/components/Header";

export default {
  components: {
    Header
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  button {
    cursor: pointer;
    outline: none;
    border: none;
  }

  .btn {
    padding: 1em 1.5em;
    background: none;
    font-weight: bold;
    color: #2c3e50;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}
</style>
